body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
form {
    margin: 15px;
}
h2 {
    margin-top: 0;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button {
    background-color: #0056b3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #004494;
}
#content {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    /* color: #333; */
    /* background: #e2e2e2; */
    text-align: center;
    position: relative;
}
.navbar {
    background: #2c3e50; /* Dark shade for a sleek look */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Compact height for a modern look */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    z-index: 1000; /* Ensures navbar stays on top of other content */
}
.navbar a {
    color: #ecf0f1; /* Soft white for text */
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 0.3s; /* Smooth transition for hover effect */
}
.navbar a:hover,
.navbar a:focus {
    background-color: #2980b9; /* Vibrant blue for hover */
    color: white;
    border-radius: 5px; /* Rounded corners for hover effect */
}
.logo {
    font-size: 20px;
    font-weight: bold;
    flex-grow: 1;
    text-align: left;
    padding-left: 15px;
    color: #ecf0f1; /* Matching text color for consistency */
}
