*

!.gitignore
!.github/
!.github/workflows/
!.github/workflows/*.yml

!README.md
!openAPI.yaml

!doc/
!doc/*.typ
!doc/*.pdf
!doc/beetle-quest-microfreshner-architecture-v2.png
!doc/beetle-quest-architecture-microfreshener-v2.yml
!doc/lib/
!doc/lib/*.typ
!doc/lib/*.svg

!assets/
!assets/images/
!assets/images/*.png
!assets/images/*.webp
!assets/images/convert_all
!assets/images/png/
!assets/images/png/.gitkeep

!assets/drawio/
!assets/drawio/*.svg
!assets/drawio/*.drawio

!assets/gimp/
!assets/gimp/*.xcf
!assets/admin_otp_qrcode.png


!beetle-quest/
!beetle-quest/**
!beetle-quest/**/*.*
beetle-quest/deploy/*/postgres/certs
