*

!.gitignore

!README.md
!openAPI.yaml

!doc/
!doc/first_delivery_architecture.typ

!assets/
!assets/images/
!assets/images/*.png
!assets/images/*.webp
!assets/images/convert_all
!assets/images/png/
!assets/images/png/.gitkeep
!assets/drowio/
!assets/drowio/*.svg
!assets/drowio/*.drawio