*

!.gitignore

!README.md
!openAPI.yaml

!doc/
!doc/first_delivery_architecture.typ

!assets/
!assets/images/
!assets/images/*.webp
!assets/images/convert_all
!assets/images/png/
!assets/images/png/.gitkeep
!assets/drawio/
!assets/drawio/*.svg
!assets/drawio/*.drawio

!beetle-quest/
!beetle-quest/**
!beetle-quest/**/*.*
