global:
    checkNewVersion: false
    sendAnonymousUsage: false

api:
    disableDashboardAd: true
    dashboard: true # TODO: do we want it?
    insecure: false # FIXME: set to false
    debug: false # FIXME: set to false

# log:
#     level: "DEBUG" # FIXME: remove me

entryPoints:
    websec:
        address: :443

providers:
    file:
        filename: "/etc/traefik/rules.yml"
        watch: true
        debugLogGeneratedTemplate: true # FIXME: set to false
