<!doctype html>

<html lang="en">
    <head>
        <title>Beetle Quest</title>
        <link rel="stylesheet" href="/static/styles.css" />
        <script src="/static/scripts/htmx.min.js"></script>
        <script src="/static/scripts/json-enc.js"></script>
        <script src="/static/scripts/response-targets.js"></script>
    </head>

    <body hx-ext="response-targets">
        <div id="content">
            <div class="container" id="auth-container" hx-ext="response-targets">
                <div hx-get="/api/v1/auth/check_session" hx-target="#content" hx-swap="innerHTML" hx-trigger="load"></div>

                <form
                    hx-post="/api/v1/auth/login"
                    hx-target="#content"
                    hx-target-4xx="#notification-popup"
                    hx-target-5*="#notification-popup"
                    hx-swap="innerHTML"
                    hx-ext="json-enc"
                >
                    <h2>Login</h2>
                    <label for="login-username">Username:</label>
                    <input type="text" id="login-username" name="username" required />
                    <label for="login-password">Password:</label>
                    <input type="password" id="login-password" name="password" required />
                    <button type="submit">Login</button>
                </form>

                <form
                    hx-post="/api/v1/auth/register"
                    hx-target="#notification-popup"
                    hx-target-4xx="#notification-popup"
                    hx-target-5*="#notification-popup"
                    hx-swap="innerHTML"
                    hx-ext="json-enc"
                >
                    <h2>Register</h2>
                    <label for="register-username">Username:</label>
                    <input type="text" id="register-username" name="username" required />
                    <label for="register-password">Password:</label>
                    <input type="password" id="register-password" name="password" required />
                    <label for="register-email">Email:</label>
                    <input type="email" id="register-email" name="email" required />
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
        <div id="notification-popup" class="notification-popup"></div>
    </body>
</html>
