<div id="app">
    <div class="navbar" id="navbar">
        <div class="logo">Beetle Quest</div>
        <a hx-get="/api/v1/user/account/{{ .UserID }}" hx-target="#content" hx-swap="innerHTML" hx-trigger="click">View Account</a>
        <a hx-get="/api/v1/market" hx-target="#content" hx-swap="innerHTML" hx-trigger="click">View Market</a>
        <a hx-get="/api/v1/gacha/list" hx-target="#content" hx-swap="innerHTML" hx-trigger="click">View Gachas</a>
        <a hx-get="/api/v1/logout" hx-target="closest #app" hx-swap="outerHTML" hx-trigger="click">Logout</a>
    </div>

    <div id="content"></div>
</div>
