<div class="auction-list">
    {{range .Auctions}}
    <div class="auction-item">
        <div class="auction-info-img">
            <div class="auction-info">
                <h3>Auction ID: {{ .AuctionID }}</h3>
                <p>Owner: {{ .OwnerUsername }}</p>
                <p>Gacha: {{ .GachaName }}</p>
                <p>Start Time: {{.StartTime.Format "Jan 2, 2006 15:04 MST"}}</p>
                <p>End Time: {{.EndTime.Format "Jan 2, 2006 15:04 MST"}}</p>
                <p>Current Winner ID: {{ .WinnerID }}</p>
            </div>
            <img src="{{ .ImagePath }}" alt="{{ .GachaName }}" class="auction-image" />
        </div>
        <div>
            <div class="auction-buttons">
                <button class="buy-button">Place Bid</button>
            </div>
        </div>
    </div>
    {{end}}
</div>
