<!-- <div class="navbar">
    <a href="#profile">Profile</a>
    <a href="#gachas">Gachas</a>
    <a href="#transactions">Transactions</a>
</div> -->

<div class="account-container">
    <div class="account-forms-container">
        <h2 class="account-header">User Account</h2>
        <div class="account-info">
            <p><strong>Username:</strong> {{ .Username }}</p>
            <p><strong>Email:</strong> {{ .Email }}</p>
            <div class="account-currency">
                <strong>Currency:</strong>
                <span>{{ .Currency }}</span>
                <img src="/static/images/coin.webp" class="coin-image" alt="Currency Icon">
            </div>
        </div>

        <form
            hx-patch="/api/v1/user/account/{{ .UserID }}"
            hx-target="#notification-popup"
            hx-target-4xx="#notification-popup"
            hx-target-5*="#notification-popup"
            hx-swap="innerHTML"
            hx-ext="json-enc"
            class="account-form"
        >
            <label for="username">New Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter new username">

            <label for="email">New Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter new email">

            <label for="password">New Password:</label>
            <input type="password" id="password" name="new_password" placeholder="Enter new password">

            <input type="password" id="password" name="old_password" placeholder="Enter current password">
            <button type="submit">Update Account</button>
        </form>

        <form id="buy-form"
            hx-post="/api/v1/market/bugscoin/buy"
            hx-target="#notification-popup"
            hx-target-4xx="#notification-popup"
            hx-target-5*="#notification-popup"
            hx-swap="innerHTML"
            hx-ext="json-enc"
        >
            <input type="number" id="amount" name="amount" placeholder="Enter amount of money to add to the account!">
            <button type="submit">BUY</button>
        </form>

        <form
            hx-post="/api/v1/user/account/{{ .UserID }}"
            hx-target="body"
            hx-target-4xx="#notification-popup"
            hx-target-5*="#notification-popup"
            hx-swap="innerHTML"
            hx-confirm="Are you sure you want to delete your account? This action cannot be undone."
            class="account-form"
            hx-ext="json-enc"
        >
            <input type="password" id="password" name="password" placeholder="Enter password">
            <button type="submit" class="delete-button">Delete Account</button>
        </form>
    </div>

    <div>
        <h2 class="account-header">Own gachas</h2>
        <div class="gacha-account-list">
            {{ range .GachaList }}
                <form method="post" action="/api/v1/market/auction" hx-post="/api/v1/market/auction" hx-target="#notification-popup" hx-target-4xx="#notification-popup" hx-target-5*="#notification-popup" hx-swap="innerHTML" hx-ext="json-enc">
                    <div class="gacha-account-item {{ .Rarity }}">
                        <img src="{{ .ImagePath }}" alt="{{ .Name }}" class="gacha-account-image" />
                        <div class="gacha-info">
                            <h3>{{ .Name }}</h3>
                            <p class="rarity">{{ .Rarity }}</p>
                            <p class="price">Price: {{ .Price }} coins</p>
                            <input type="hidden" name="gacha_id" value="{{ .GachaID }}">
                            <input type="datetime-local" name="end_time" id="end_time" required>
                            <button type="submit" class="auction-button">Auction gacha</button>
                        </div>
                    </div>
                </form>
            {{ end }}
        </div>
    </div>
</div>

<div class="transactions-list">
    {{ range .TransactionList }}
    <div class="transaction-card {{ .TransactionType }}">
        <h3>Transaction ID: {{ .TransactionID }}</h3>
        <p>Type: {{ .TransactionType }}</p>
        <p>User ID: {{ .UserID }}</p>
        <p>Amount: ${{ .Amount }}</p>
        <p>Date: {{ .DateTime.Format "Jan 2, 2006 15:04 MST" }}</p>
        <p>Event Type: {{ .EventType }}</p>
        {{ if ne .EventID "00000000-0000-0000-0000-000000000000" }}
            <p>Event ID: {{ .EventID }}</p>
        {{ end }}
    </div>
    {{ end }}
</div>
